<div class="thumbail-wrapper">
    <div class="thumbnail" id="thumbnail">

        <div class="foto-galerij" id="foto-galerij">
            {% for galleryImages in images %}
                <figure class="foto-item" id="foto-{{ forloop.index }}">
                    <img src="https://fdnd-agency.directus.app/assets/{{ galleryImages }}?width=800&format=webp&quality=70" alt="Foto {{ forloop.index }} van de woning" {% if forloop.first %} fetchpriority="high" {% else %} loading="lazy" {% endif %}>
                </figure>
            {% else %}
                <figure class="foto-item" id="foto-1">
                    <img src="/images/placeholder-huis.jpg" alt="Geen foto beschikbaar">
                </figure>
            {% endfor %}
        </div>
        <p class="foto-teller" hidden>
            <span id="foto-huidig">1</span>
            /
            {% if images.size > 0 %}
                {{ images.size }}{% else %}1
            {% endif %}
        </p>

        <button class="fullscreen-knop" id="fullscreen-knop" hidden>
            <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 3h7v2H5v5H3V3zm11 0h7v7h-2V5h-5V3zM3 14h2v5h5v2H3v-7zm16 5h-5v2h7v-7h-2v5z" fill="white"/>
            </svg>
            <span class="visually-hidden">Foto's op volledig scherm bekijken</span>
        </button>

        <dialog class="foto-dialog" id="foto-dialog">
            <div class="foto-dialog-galerij" id="foto-dialog-galerij">
                {% for galleryImages in images %}
                    <img src="https://fdnd-agency.directus.app/assets/{{ galleryImages }}?width=1200&format=webp&quality=80" alt="Foto {{ forloop.index }} van de woning" loading="lazy">
                {% else %}
                    <img src="/images/placeholder-huis.jpg" alt="">
                {% endfor %}
            </div>
            <form method="dialog">
            <button class="foto-dialog-sluiten">
                <img src="/icons/close@2x.svg" alt="" width="40" height="40">
                <span class="visually-hidden">Sluiten</span>
            </button>
        </form>
        </dialog>

        <div class="action-buttons">

            <button class="share" popovertarget="share-popover">
                <img src="/icons/share@2x.svg" alt="" width="24" height="24">
                <span class="visually-hidden">Deel deze woning</span>
            </button>

            <form action="/huis/{{ house.id }}" method="post">
                <button type="submit">
                    {% if isFavoriet %}
                        <img src="/icons/heart-filled-red@2x.svg" alt="" width="24" height="24">
                        <span class="visually-hidden">Verwijder uit favorieten</span>
                    {% else %}
                        <img src="/icons/heart@2x.svg" alt="" width="24" height="24">
                        <span class="visually-hidden">Voeg toe aan favorieten</span>
                    {% endif %}
                </button>
            </form>
        </div>
    </div>

    <nav class="media-nav">
        <ul>
            {% for galleryImages in images offset:1 limit:4 %}
                <li>
                    <a href="#foto-{{ forloop.index | plus: 1 }}">
                        <span class="media-thumb">
                            <img class="thumb" src="https://fdnd-agency.directus.app/assets/{{ galleryImages }}?width=200&format=webp&quality=50" alt="" width="160" height="120" loading="lazy">
                        </span>
                        <span class="visually-hidden">Ga naar foto {{ forloop.index | plus: 1 }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="like-melding" id="like-melding" hidden>
        <svg class="like-melding-icoon" id="like-melding-icoon-bewaard" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#599f7e"/>
            <path d="M7 12.5l3.2 3.2L17 9" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="like-melding-icoon" id="like-melding-icoon-verwijderd" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#c93328"/>
            <path d="M8 8l8 8M16 8l-8 8" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div class="like-melding-wrapper">
            <p class="like-melding-titel" id="like-melding-titel">Je huis is bewaard</p>
            <p id="like-melding-tekst">Je vindt 'm onder <a href="/favorieten">Favorieten</a> in je account</p>
        </div>
        <button class="like-melding-sluiten" id="like-melding-sluiten" type="button">
            <img src="/icons/close@2x.svg" alt="" width="20" height="20">
        </button>
    </div>

    <div id="share-popover" popover>
        <div class="share-popover-header">
            <h2>Deel deze woning</h2>
            <button popovertarget="share-popover">
                <img src="/icons/close@2x.svg" alt="" width="20" height="20">
                <span class="visually-hidden">Sluiten</span>
            </button>
        </div>
        <p class="share-address">{{ house.street }}
            {{ house.house_nr }}{{ house.nr_addition }},
            {{ house.city }}</p>
        <ul class="share-options">
            <li>
                <button class="share-copy">
                    <img src="/icons/copy@2x.svg" alt="" width="24" height="24">
                    <span>Kopieer link</span>
                </button>
            </li>
            <li>
                <a id="share-whatsapp" class="share-link" href="https://wa.me/" target="_blank" rel="noopener">
                    <img src="/icons/whatsapp@2x.svg" alt="" width="24" height="24">
                    <span>WhatsApp</span>
                </a>
            </li>
            <li>
                <a id="share-facebook" class="share-link" href="https://www.facebook.com/sharer/sharer.php" target="_blank" rel="noopener">
                    <img src="/icons/facebook@2x.svg" alt="" width="24" height="24">
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a id="share-x" class="share-link" href="https://twitter.com/intent/tweet" target="_blank" rel="noopener">
                    <img src="/icons/X@2x.svg" alt="" width="24" height="24">
                    <span>X</span>
                </a>
            </li>
            <li>
                <a id="share-pinterest" class="share-link" href="https://pinterest.com/pin/create/button/" target="_blank" rel="noopener">
                    <img src="/icons/pinterest@2x.svg" alt="" width="24" height="24">
                    <span>Pinterest</span>
                </a>
            </li>
        </ul>
    </div>
</div>
