{% render 'partials/head.liquid' %}


<section>
    {% comment %}
        {{ house|json }}
    {% endcomment %}
    <div class="thumbnail">
        <a href="">
            <img src="https://fdnd-agency.directus.app/assets/{{ house.gallery[0].directus_files_id }}" alt="">
            </a>
        </div>
<div class="action-buttons">
    <button>
        <svg width="24" height="24" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.0003 13.3954C14.0526 13.3962 13.1609 13.8448 12.5953 14.6054L5.84035 10.7054C6.03815 10.1271 6.05212 9.50187 5.88035 8.91538L12.7303 4.96038C13.7173 6.1041 15.4006 6.33559 16.6596 5.50071C17.9186 4.66583 18.3605 3.02504 17.6909 1.67086C17.0214 0.316677 15.4494 -0.328423 14.0216 0.165097C12.5938 0.658616 11.7557 2.13679 12.0653 3.61538L5.12035 7.61538C3.9612 6.45729 2.08728 6.44348 0.911183 7.58434C-0.264916 8.72521 -0.308083 10.5987 0.814221 11.7925C1.93652 12.9863 3.80909 13.0588 5.02035 11.9554L12.0203 16.0004C11.8559 17.2385 12.4757 18.4489 13.5764 19.0392C14.6771 19.6295 16.0283 19.476 16.9687 18.654C17.909 17.832 18.2417 16.5134 17.8039 15.3437C17.366 14.174 16.2493 13.3979 15.0003 13.3954ZM15.0003 1.50538C15.8288 1.50538 16.5003 2.17695 16.5003 3.00538C16.5003 3.8338 15.8288 4.50538 15.0003 4.50538C14.1719 4.50538 13.5003 3.8338 13.5003 3.00538C13.5003 2.17695 14.1719 1.50538 15.0003 1.50538ZM3.00035 11.2454C2.17192 11.2454 1.50035 10.5738 1.50035 9.74538C1.50035 8.91695 2.17192 8.24538 3.00035 8.24538C3.82878 8.24538 4.50035 8.91695 4.50035 9.74538C4.50035 10.5738 3.82878 11.2454 3.00035 11.2454ZM15.0003 17.8954C14.1719 17.8954 13.5003 17.2238 13.5003 16.3954C13.5003 15.5669 14.1719 14.8954 15.0003 14.8954C15.8288 14.8954 16.5003 15.5669 16.5003 16.3954C16.5003 17.2238 15.8288 17.8954 15.0003 17.8954Z" fill="#0071B3"/>
</svg>

    </button>
    <button>
        <svg width="24" height="24" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.5001 1.44139C15.5606 0.532597 14.3072 0.020496 13.0001 0.0113945C11.9176 0.00774785 10.8638 0.359013 10.0001 1.01139C9.62148 1.29617 9.28484 1.63281 9.00006 2.01139C8.71528 1.63281 8.37865 1.29617 8.00006 1.01139C7.13757 0.355273 6.08376 0 5.00006 0C3.91637 0 2.86256 0.355273 2.00006 1.01139C1.37618 1.4744 0.870035 2.07776 0.522586 2.77266C0.175136 3.46756 -0.00386551 4.23448 6.33027e-05 5.01139C6.33027e-05 12.5114 8.00006 17.0114 9.00006 17.0114C10.0001 17.0114 18.0001 12.5114 18.0001 5.01139C18 4.34649 17.8673 3.68828 17.6097 3.07529C17.3521 2.46229 16.9749 1.90683 16.5001 1.44139ZM9.00006 15.4414C6.31722 14.114 4.09973 12.0046 2.64006 9.39139C1.90844 8.04626 1.51706 6.54253 1.50006 5.01139C1.50039 4.20802 1.77707 3.42922 2.28367 2.80571C2.79027 2.18221 3.49595 1.75196 4.28225 1.5872C5.06854 1.42243 5.88758 1.53318 6.60188 1.90086C7.31617 2.26853 7.88224 2.87074 8.20506 3.60639C8.23506 3.67639 8.26006 3.75139 8.29006 3.82639C8.3403 3.97347 8.43528 4.10115 8.5617 4.19155C8.68812 4.28196 8.83965 4.33056 8.99506 4.33056C9.15048 4.33056 9.30201 4.28196 9.42842 4.19155C9.55484 4.10115 9.64982 3.97347 9.70006 3.82639C9.72506 3.75139 9.75506 3.67639 9.78506 3.60639C10.1042 2.86461 10.67 2.256 11.3866 1.88373C12.1032 1.51146 12.9265 1.39844 13.7169 1.56382C14.5073 1.7292 15.2162 2.1628 15.7235 2.79114C16.2307 3.41948 16.5051 4.20388 16.5001 5.01139C16.4872 6.55101 16.0956 8.0638 15.3601 9.41639C13.9004 12.0296 11.6829 14.139 9.00006 15.4664V15.4414Z" fill="#0071B3"/>
</svg>

    </button>
</div>
        <div class="thumbnail-grid">
            <ul>
                <li>
                    <img src="https://fdnd-agency.directus.app/assets/{{ house.gallery[1].directus_files_id }}" alt="">
                </li>
                <li>
                    <img src="https://fdnd-agency.directus.app/assets/{{ house.gallery[2].directus_files_id }}" alt="">

                </li>
                <li>
                    <img src="https://fdnd-agency.directus.app/assets/{{ house.gallery[3].directus_files_id }}" alt="">
                </li>
            </ul>
        </div>
    </section>


    {% render 'partials/footer.liquid' %}

